body {
  @include primary-font;
  background-image: url('../images/grid-15.png');
  background-repeat: repeat;
}

.bg-light {
  background-color: $light-color !important;
}

.bg-transparent {
  background-color: transparent !important;
}

@include large-screen {
  header {
    padding: 2rem 0;
    margin-bottom: 2rem;
  }
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1.6rem;
  text-align: right;
}

@include large-screen {
  .navbar-expand-lg .navbar-nav {
    display: flex;
    width: 36rem;
    justify-content: space-between;
  }

  .navbar-light .navbar-nav .nav-link {
    text-align: center;

    &::after {
      content: '';
      height: 0;
      display: block;
      width: 0;
      border-bottom: 4px solid $primary-color;
      margin: 0 auto;
      transition: width 0.3s ease-in;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

main {
  font-size: 1.5rem;

  .lead {
    font-size: 2rem;
    color: $primary-color;
  }

  em {
    color: $primary-color;
  }

  a {
    &, &:hover, &:visited, &:active, &:focus {
      color: $primary-color;
      text-decoration: underline;
      text-decoration-style: dotted;
    }

    &:hover {
      text-decoration-style: solid;
    }
  }
}
