#home-page {
  .head-shot-container {
    svg {
      display: block;
    }

    img.headshot {
      display: block;
      width: 260px;
      margin: 0 auto;
      clip-path: url(#hex-clipping);
    }

    .social-icons {
      display: flex;
      justify-content: space-around;
      margin-top: 2rem;

      a {
        color: $primary-color;
        font-size: 32px;
        transition: all 0.3s ease-in;
        text-decoration: none;

        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }

  @include large-screen {
    .head-shot-container {
      width: 260px;
      // The `11px` top padding is required to match with the extra space left by `h1.display-4` element in the right column.
      padding:11px 0 0 0;
      margin: 0;
      float: left;
    }

    .about-container {
      margin-left: calc(260px + 3rem);
    }
  }

  @include small-screen {
    .about-container {
      margin-top: 3rem;
    }
  }
}