$primary-font-family: 'Montserrat', sans-serif;
$primary-font-weight: 400;
$light-font-weight: 300;
$bold-font-weight: 700;

$dark-color: #2c3e50;
$lighter-dark-color: #34495e;
$light-color: #fff;
$primary-color: #2ecc71;

$large-screen-min-width: 992px;
$small-screen-max-width: $large-screen-min-width - 1px;
